# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Individual emacs stuff
eln-cache/
eln-cache/*
elpa/
elpa/*
recentf
transient/
transient/*
tree-sitter/
tree-sitter/*
.cache
.cache/*
projects
load
load/*
